.puzzle {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: calc(var(--cell-size) * 8 + var(--equation-padding) * 7);
  padding: var(--equation-padding) 0;

  .board {
    flex: 1;
    padding: calc(var(--equation-padding) - var(--equation-spacing) / 2) 0;
  }
}
