.cell {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 0;
  border: var(--border-width) dashed var(--operator-foreground);
  border-radius: var(--border-radius);
  background-color: var(--app-background-translucent);
  color: var(--operator-foreground);
  box-shadow: none;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  user-select: none;
  transition: all 0.3s var(--easing-standard);
  appearance: none;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--cell-size) * 0.75);
    height: calc(var(--cell-size) * 0.75);
    margin: calc(var(--cell-size) * -0.375);
  }

  &:focus {
    outline: 0.25rem solid var(--focus);
    outline-offset: 1px;
  }

  &:not(:empty) {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
  }

  .number:empty ~ &:not(.number) {
    box-shadow: none;
  }
}
