.equals {
  cursor: auto;

  svg {
    rect {
      fill: currentColor;
    }
  }

  .number:not(:empty) + [data-operator] + .number:not(:empty) + & {
    border-style: solid;
    border-color: var(--operator-border);
    background-color: var(--operator-background);
    color: var(--operator-foreground);
  }
}
