.header {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  width: 100vw;
  padding: 1rem min(calc(50vw - (var(--cell-size) * 5 + var(--equation-spacing) * 4) / 2), 1rem);
  background-color: var(--header-background);
  color: var(--header-foreground);

  h1 {
    margin: 0;
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
    line-height: 1;
    text-transform: uppercase;
  }
}
