:root {
  --number-background-given: var(--cyan-100);
  --number-border-given: var(--cyan-700);
  --number-foreground-given: var(--cyan-700);
  --number-background-computed: var(--purple-100);
  --number-border-computed: var(--purple-700);
  --number-foreground-computed: var(--purple-700);
  --number-background-target: var(--yellow-100);
  --number-border-target: var(--yellow-700);
  --number-foreground-target: var(--yellow-700);
  --number-background: var(--number-background-given);
  --number-border: var(--number-border-given);
  --number-foreground: var(--number-foreground-given);
}

.number {
  overflow: hidden;

  @for $d from 1 through 5 {
    &[data-digits="#{$d}"] {
      font-size: var(--digit-size-#{$d});
    }
  }

  @each $source in ("given", "computed", "target") {
    &[data-source="#{$source}"] {
      --number-background: var(--number-background-#{$source});
      --number-border: var(--number-border-#{$source});
      --number-foreground: var(--number-foreground-#{$source});
    }
  }

  &:empty {
    font-size: 0;

    &::before {
      content: "?";
      font-size: var(--digit-size-1);
    }
  }

  &:not(:empty) {
    border: var(--border-width) solid var(--number-border);
    background-color: var(--number-background);
    color: var(--number-foreground);

    &:active {
      transform: scale(0.95);
    }
  }
}
