.number {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 0;
  border: var(--border-width) solid var(--number-border);
  border-radius: var(--border-radius);
  background-color: var(--number-background);
  color: var(--number-foreground);
  font-weight: var(--font-weight-bold);

  @for $d from 1 through 8 {
    &[data-digits="#{$d}"] {
      @if ($d > 3) {
        font-weight: var(--font-weight-semibold);
      }

      font-size: var(--digit-size-#{$d});
    }
  }

  @each $source in ("given", "calculated", "target") {
    &[data-source="#{$source}"] {
      --number-background: var(--number-background-#{$source});
      --number-border: var(--number-border-#{$source});
      --number-foreground: var(--number-foreground-#{$source});
    }
  }

  &[data-dragging="true"] {
    box-shadow: var(--shadow-8);
  }
}
