html {
  height: -webkit-fill-available;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  max-height: -webkit-fill-available;

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-width: calc(var(--cell-size) * 5 + var(--equation-spacing) * 4 + var(--equation-padding) * 2);
  }
}
