@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap");

:root {
  --cyan-050: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-900: #164e63;
  --cyan-900-50: #{rgba(#164e63, 0.5)};
  --teal-050: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-500: #14b8a6;
  --teal-700: #0f766e;
  --pink-050: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-500: #ec4899;
  --pink-700: #be185d;
  --yellow-050: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-500: #eab308;
  --yellow-700: #a16207;
  --purple-050: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-500: #a855f7;
  --purple-700: #7e22ce;
  --digit-size-1: 2.5rem;
  --digit-size-2: 2rem;
  --digit-size-3: 1.5rem;
  --digit-size-4: 1.25rem;
  --digit-size-5: 1.125rem;
  --digit-size-6: 1rem;
  --border-width: 0.125rem;
  --border-radius: 0.25rem;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --cell-size: 4rem;
  --equation-padding: 0.5rem;
  --equation-spacing: 0.5rem;
  --easing-standard: cubic-bezier(0.4, 0, 0.2, 1);

  --app-background: var(--cyan-900);
  --app-background-translucent: var(--cyan-900-50);
  --app-foreground: var(--cyan-100);
  --app-foreground-strong: var(--cyan-050);
  --header-background: rgba(0, 0, 0, 0.25);
  --header-foreground: var(--cyan-050);
  --operator-background: var(--cyan-100);
  --operator-border: var(--cyan-500);
  --operator-foreground: var(--cyan-600);
  --focus: #{rgba(#06b6d4, 0.25)};
  --focus-light: #{rgba(#06b6d4, 0.125)};
  --header-height: 3.5rem;
  --ui-width: calc(var(--cell-size) * 5 + var(--equation-spacing) * 4 + var(--equation-padding) * 2);
  --error: var(--pink-500);
  --button-background: var(--pink-500);
  --button-background-dark: var(--pink-700);
  --button-foreground: var(--pink-050);
  --shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: min(4.2667vw, 16px);
  overscroll-behavior: none;
}

body {
  margin: 0;
  background-color: var(--app-background);
  color: var(--app-foreground);
  font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font-family: inherit;
}
