@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap");

:root {
  --cyan-050: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-900: #164e63;
  --cyan-900-50: #{rgba(#164e63, 0.5)};
  --teal-050: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-500: #14b8a6;
  --teal-700: #0f766e;
  --pink-050: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-500: #ec4899;
  --pink-700: #be185d;
  --yellow-050: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-500: #eab308;
  --yellow-700: #a16207;
  --purple-050: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-500: #a855f7;
  --purple-700: #7e22ce;
  --digit-size-1: 2.5rem;
  --digit-size-2: 2rem;
  --digit-size-3: 1.5rem;
  --digit-size-4: 1.25rem;
  --digit-size-5: 1rem;
  --digit-size-6: 0.75rem;
  --digit-size-7: 0.625rem;
  --digit-size-8: 0.5rem;
  --border-width: 0.125rem;
  --border-radius: 0.25rem;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --header-height: 3.5rem;
  --cell-size: 4rem;
  --equation-padding: 0.5rem;
  --equation-spacing: 0.5rem;
  --easing-standard: cubic-bezier(0.4, 0, 0.2, 1);

  --background: var(--cyan-900);
  --background-translucent: var(--cyan-900-50);
  --foreground: var(--cyan-100);
  --empty-border: var(--cyan-700);
  --empty-foreground: var(--cyan-600);
  --number-background-given: var(--cyan-500);
  --number-border-given: var(--cyan-700);
  --number-foreground-given: var(--cyan-050);
  --number-background-calculated: var(--purple-500);
  --number-border-calculated: var(--purple-700);
  --number-foreground-calculated: var(--purple-050);
  --number-background-target: var(--pink-500);
  --number-border-target: var(--pink-700);
  --number-foreground-target: var(--pink-050);
  --operator-background: var(--cyan-100);
  --operator-border: var(--cyan-700);
  --operator-foreground: var(--cyan-700);
  --focus: #{rgba(#06b6d4, 0.25)};
  --header-background: rgba(0, 0, 0, 0.25);
  --header-foreground: var(--cyan-050);
  --ui-width: calc(var(--cell-size) * 5 + var(--equation-spacing) * 4);
  --button-light: var(--pink-500);
  --button-dark: var(--pink-700);
  --button-text: var(--pink-050);

  --shadow-umbra: rgba(0, 0, 0, 0.2);
  --shadow-penumbra: rgba(0, 0, 0, 0.14);
  --shadow-ambient: rgba(0, 0, 0, 0.12);
  --shadow-1: 0 0.2rem 0.1rem -0.1rem var(--shadow-ambient), 0 0.1rem 0.1rem 0 var(--shadow-penumbra),
    0 0.1rem 0.3rem 0 var(--shadow-umbra);
  --shadow-4: 0 0.2rem 0.4rem -0.1rem var(--shadow-ambient), 0 0.4rem 0.5rem 0 var(--shadow-penumbra),
    0 0.1rem 1rem 0 var(--shadow-umbra);
  --shadow-8: 0 0.3rem 1.4rem 0.2rem var(--shadow-ambient), 0 0.8rem 1rem 0.1rem var(--shadow-penumbra),
    0 0.5rem 0.5rem -0.3rem var(--shadow-umbra);
  --shadow-16: 0 0.6rem 3rem 0.5rem var(--shadow-ambient), 0 1.6rem 2.4rem 0.2rem var(--shadow-penumbra),
    0 0.8rem 1rem -0.5rem var(--shadow-umbra);
  --shadow-32: 0 0.9rem 4.6rem 0.8rem var(--shadow-ambient), 0 2.4rem 3.8rem 0.3rem var(--shadow-penumbra),
    0 1.1rem 1.5rem -0.7rem var(--shadow-umbra);

  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: min(4.2667vw, 16px);
  overscroll-behavior: none;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font-family: inherit;
}
