.operator {
  z-index: 1;

  &:not([data-operator]) {
    box-shadow: none;
  }

  svg {
    > g {
      > rect {
        opacity: 0;
        fill: currentColor;
      }

      > g {
        rect {
          fill: currentColor;
        }
      }
    }

    [data-operator] {
      transition: all 0.15s var(--easing-standard);
      transition-property: transform opacity;
      transform-origin: 0px 0px;
    }
  }

  &[data-operator] {
    border-style: solid;
    border-color: var(--operator-border);

    &:not([data-active]) {
      background-color: var(--operator-background);
    }
  }

  &[data-active] {
    background-color: var(--app-background-translucent);
    transform: scale(1.5);
    backdrop-filter: blur(4px);

    svg {
      > g {
        &[data-hover] {
          color: var(--operator-background);

          > rect {
            opacity: 0.25;
            fill: var(--operator-border);
          }
        }

        > g {
          color: var(--operator-border);
        }
      }
    }
  }

  /* stylelint-disable-next-line order/order */
  @each $op in ("add", "subtract", "multiply", "divide") {
    @keyframes spin-#{$op} {
      0% {
        filter: blur(0);
        transform: rotate(0deg);
      }
      50% {
        filter: blur(2px);
      }
      100% {
        filter: blur(0);
        transform: rotate(360deg);
      }
    }

    &[data-operator="#{$op}"] {
      &:not([data-active]) {
        [data-operator] {
          transform: scale(2);

          &:not([data-operator="#{$op}"]) {
            opacity: 0;
          }
        }

        svg {
          animation: spin-#{$op} 0.25s var(--easing-standard) 1 forwards;
        }
      }
    }
  }
}
